.containerTitle {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
}
.containerTitleUbicacion {
  display: flex;
  margin: 0 auto;
  width: 100%;
  justify-content: flex-start;
}

.titlePrin {
  display: flex;
  margin-left: 15px;
  color: rgb(70, 70, 70);
}

.ubicacionCon {
  margin-left: 10px;
  margin-top: 5px;
  color: rgb(125, 125, 125);
}

.iconsRes {
  margin: 0 20px;
  margin-bottom: 10px;
  width: 96%;
  display: flex;
  color: rgb(125, 125, 125);
  justify-content: space-between;
}

.iconsMyClass {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 18px;
}

.classMyStrong {
  font-size: 1.5rem;
}

.containerImgDes {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.containerCarousel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: flex-start;
  width: 52%;
  margin: 40px 0px 0px 25px;
  /* border: solid 2px rgb(70,70,70); */
  /* border:solid 2px #007bff;  */
   /* border:solid 2px rgb(180, 180, 180);  */
  border-radius: 10px;
}

.c-title{
  color: rgb(70, 70, 70);
  margin-bottom: 15px;
}
.c-description{
  color: rgb(125, 125, 125);
}
.cotainerData {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-right: 40px;
}
.reglasHospedador{
  /* border: solid 2px rgb(255, 238, 0); */
  /* border: solid 2px rgb(70,70,70); */
  /* padding: 10px; */
  margin-right: 5px;
  border-radius: 10px;
  background-color: #ffffffd2;
  /* background-color: #fbff00a4; */
}
.c-hr{
  background-color: rgb(180, 180, 180);
  margin-right: 50px;
  margin-left: 50px;
}
.warning-icon{
  color:rgb(255, 238, 0)
}

.containerCalMap {
  margin: 0 20px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  width: 94%;
  align-items: flex-start;
  flex-wrap: wrap;
}

.containerMap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 50%;
  border-radius: 10px;
}

.containerCalendar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 40%;
}

.container-sup-comment {
  display: flex;
  justify-content: center;
}
.title-comment {
  display: flex;
  justify-content: center;
  width: 100%;
  border-radius: 5px;
  color: rgb(70, 70, 70);
}
.c-form {
  width: 100%;
}

.containerComents {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 94%;
  padding: 20px;
  border-radius: 10px;
  border: solid 2px rgb(14, 147, 223);
  background-color: rgb(235, 233, 233);
}

.containerComents form button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}
.containerComents form button:hover {
  background-color: #0056b3;
}

.containerComents form input {
  display: block;
  width: 100%;
  font-size: 16px;
  height: 100px;
  border: 1px solid #0056b3;
  border-radius: 5px;
}
.c-avatar-input {
  display: flex;
  width: 80%;
  color: rgb(70, 70, 70);
}

.avatar-input {
  margin-top: 30px;
  display: flex;
  width: 100%;
  height: 100px;
}
.c-avatar {
  display: flex;
  align-items: center;
  border-radius: 50%;
  width: 10%;
  justify-content: center;
}
.c-avatar-img {
  border-radius: 50%;
  border: 2px solid #0056b3;
  margin-right: 15px;
  width: 70px;
  height: 70px;
}
.c-input {
  display: flex;
  align-items: center;
  width: 90%;
}
.c-textarea {
  width: 100%;
  height: 100px;
  border: 2px solid #0056b3;
  border-radius: 10px;
  font-size: 17px;
  color: rgb(70, 70, 70);
}

.c-button {
  display: flex;
  width: 100%;
  flex-direction: row-reverse;
  margin-top: 30px;
}

.container-cards-comment {
  width: 100%;
}

.comment {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 20px;
}

.comment p {
  font-size: 17px;
  color: rgb(70, 70, 70);
}

.comment-container {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 80%;
  height: auto;
  padding: 0px 0px 10px 0px;
  border: 2px solid rgb(70, 70, 70);
  margin: 10px 0;
  border-radius: 10px;
  margin-bottom: 20px;
}

.commentFecha {
  color: white;
  margin-right: 15px;
}

.errComment{
  color: red;
}


.response-button {
  position: absolute;
  bottom: 0;
  right: 10px;
  border-radius: 50%;
  padding: 7px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  margin-bottom: 5px;
  border: 1px solid #000000;
}

.response-button:hover {
  background-color: #0056b3;
}

.comment-container .delete-button {
  position: absolute;
  bottom: 0;
  right: 60px;
  padding: 7px;
  border-radius: 50%;
  background-color: #ff0000;
  color: #fff;
  border: none;
  cursor: pointer;
  margin-bottom: 5px;
  border: 1px solid #000000;
}
.delete-button:hover {
  background-color: #c82333;
}

.imgComment {
  margin-left: 10px;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  margin-top: 6px;
  border: solid 2px rgb(255, 255, 255);
}

.authorComment {
  margin-left: 10px;
  color: rgb(70, 70, 70);
}

.comentarioComment {
  /* position: relative;
  bottom: 115px; */
  font-size: 16px;
  min-height: 60px;
  padding: 25px;
  color: rgb(70, 70, 70);
  background-color: white;
  /*text-decoration: underline;*/
}

.c-avatar-author-comment {
  display: flex;
  width: 100%;
  background-color: #bdcdd6;
  /* border: solid 2px rgb(14, 147, 223); */
  border-radius: 10px 10px 0px 0px;
}
.c-author-fecha {
  display: flex;
  align-items: center;
  width: 100%;
  height: 45px;
  justify-content: space-between;
}
