

/*
.dark-theme {
  background-color: black;
  color: white;
}
.dark-theme h1{
  color: white;

}
.titlePrin{
  color: white;
}
.containerCalMap{
  color: white;
}
.container-sup-comment{
  color: white;
}

.containerImgDes{
  color: white;
}

.dark-theme h2{
  color: white;
}

.containerTitle{
  color: white;
}
.containerTitleUbicacion
{
  color: white;
}*/