.containerHome {
  display: flex;
  width: auto;
  min-height: 70vh;
  max-height: 100%;
}

.containerFilters {
  position: fixed;
  width: 20%;
  min-height: 100vh;
  max-height: 100%;
}

.containerCards {
  margin-left: 5px;
}

.space-justify{
  justify-content: space-evenly
  
}

/*CUANDO PONGAN LOS FILTROS ARRIBA, 
DESDE ACÁ SE EDITA PARA RECORRER EL CONTENIDO CENTRAL DE HOME CENTRAL*/
/*.containerCards {
  position: relative;
  left: 21%;
  width: 78%;
}*/

.pagination {
display: flex;
justify-content: space-around
}
