.modal-container-comments{
  /* ubicar modal en el medio de la pagina */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  
}

.modal-container-desing-comments{
  background-color: white;
  display: flex;
  border-radius: 5%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid rgb(54, 57, 57);
  width: 35%;
}

.content-comment-property {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
  width: 100%;
  overflow-y:  scroll;
  height: 300px;

}

.container-comment{
  background-color: #f8f8f8;
  border-radius: 5%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  margin: 5px;
  padding: 10px;
  border: 1px solid rgb(28, 115, 190);
}

.content-comment-user {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  width: 100%;
}

.content-comment-user-name{
  color: rgb(100, 96, 96);
  font-size: 1.2rem;
  font-weight: bold;
}

.content-comment-user-delete {
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
}

.content-comment-user-comment {
  color: rgb(122, 120, 120);
  font-size: 1rem;
  font-weight: bold;
}