.admin-container {
  /* backgraund repeat */
  background: #292348;
  display: grid;
  grid-template-columns: 21% 77%;
  grid-template-rows: auto auto auto auto;
  flex-direction: row;
  width: 100%;
}

.sidebar-header {
  position: fixed;
  top: 58px;
  width: 17rem;
  height: 90%;
  background-color: #18152E;
  border-right-width: 3px;
  border-right-style: solid;
  border-right-color: #2b245e;
  overflow: hidden;
  grid-column: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  transition: 0.5s;
}

.view-menu{
  left: 0;
}

.hidden-menu{
  left: -18rem;
}



.sidebar-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.sidebar-list-item {
  padding: 1rem;
  margin: 5px;
}

.sidebar-list-item:hover {
  background-color: #2b245e;
  transform: scale(1.1, 1.1);
}

.side-item {
  color: rgb(46,136,254);
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 400;
  gap: 5px;
  display: flex;
}



.side-item:hover {
  color: rgb(46,136,254);
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 400;
}




.sidebar-footer {
  padding: 1rem;
  margin: 0;
  display: flex;
  align-items: flex-start;
}


/* HEADER */

  .toggle-btn{
    position: fixed;
    bottom: 8px;
    right: 8px;
    background-color: #18152E;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0.5rem;
    border-radius: 5px;
    font-size: 1.5rem;
  }
  
  /*  Main */
.main-container {
  grid-area: main;
  width: 100%;
  min-height: 100vh;
  max-height: 100%;
  grid-column: 2;
  grid-row: 2/5;
  margin: 20px;
  transition: 0.5s;
}

/* List user */

.listUser {
  display: flex;
  align-items: flex-start;
  left: 0;
  width: 100%;

}

.listuserall {
  background-color: #ffffff;
  left: 0;
  width: 100%;
  height: 32rem;
}

/* profile */
.profile-container {
  font-family: monospace;
  width: 95%;
  border-radius: 62px;
  display: flex;
background: linear-gradient(145deg, #272055, #2e2765);
box-shadow:  35px 35px 70px #161331,
             -35px -35px 70px #40358b;
}

.profile-header {
  padding: 1.5rem;
}

.profile-header-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  margin: 15px;
}

.image-profile {
  border-radius: 10%;
  width: 200px;
  height: 200px;
  
}

.content-profile-name {
  background-color: #18152E;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 188px;
  padding: 0.5rem;
  border-radius: 11px;
}

.name-profile {
  color: #fff;
  font-size: 1.5rem;
  margin: 0;
  font-weight: bold;
  font-family: monospace;
}

.profile-content {
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
  margin: 15px;
}

.profile-content-title-description {
  border-radius: 10%;
  font-weight: bold;
  /* display: flex;
  flex-direction: column;
  justify-content: flex-start */
}

.title-profile {
  color: rgb(2, 255, 175);
  font-weight: bold;
  font-size: 2rem;
}

.description-profile{
  font-size: 1rem;
  font-weight: bold;
  color: #fff;
}

.profile-detail {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding-top: 1rem;
}

.detail-profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: bold;
  align-items: center;
  gap: 5px;
}

.profile-hobbies {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.hobbies-profile {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
  color: #fff;
}

.hobby-profile {
  background-color: #18152E;
  border-radius: 10%;
  padding: 0.7rem;
  width: 130px; 
}

.detail-profile-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: rgb(2, 255, 175);
}

.detail-profile-text {
  color: #fff;
}

/* Form property */

.content-form-property {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}

/* Form Settings profile */

.form-profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
  padding: 1rem;
  background: linear-gradient(145deg, #272055, #2e2765);
  box-shadow:  35px 35px 70px #161331,
             -35px -35px 70px #40358b;

border-radius: 5%;
}

.form-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}

.title-form-edit-profile {
  font-size: 1.5rem;
  font-weight: bold;
  color: rgb(2, 255, 175);
}

.form-control {
  width: 100%;
  padding: 0.5rem;
  border: none;
  border-radius: 5px;
  outline: none;
  font-size: 1rem;
  font-weight: bold;
  color: #fff;
  background-color: #18152E; 
}

.viewAvatarUpload {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 2rem;
  padding: 1rem;
}

.content-avatar-setting{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content-avatar-setting > h2 {
  font-size: 1.5rem;
  font-weight: bold;
  color: rgb(2, 255, 175);
}

.content-avatar-setting > img {
  width: 250px;
  border-radius: 10%;
}

.btn-primary {
  background-color: rgb(2, 255, 175);
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0.5rem;
  border-radius: 5px;
  font-size: 1.5rem;
}

.btn-primary:hover {
  background-color: #fff;
  color: rgb(2, 255, 175);
  border: 1px solid rgb(2, 255, 175);
}


/*  List publish  */

.container-list-publish-tenant {
  background: #272055;
  border-radius: 5%;
  padding: 1rem;
  margin-top: 1rem;
}

.content-list-publish-all {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 16px;
}

.container-list-publish-tenant > h2 {
  font-size: 2rem;
  font-weight: bold;
  color: rgb(2, 255, 175);
}

.container-list-publish-tenant__list__item{
  width: 100%;
/* centrar texto */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  overflow: hidden;
  background: linear-gradient(145deg, #272055, #2e2765);
  box-shadow:  35px 35px 70px #161331,
             -35px -35px 70px #40358b;
  border-radius: 5%;
}

.text-list-publish-title{
  font-size: 1.2rem;
  font-weight: bold;
  color: rgb(2, 255, 175);
}

.text-list-publish-data{
  font-size: 1rem;
  font-weight: bold;
  color: #fff;
}
.container-list-publish-tenant__list__item__image > img {
  width: 100%;
  height: 200px;
  border-radius: 10%;
}

