.admin-container {
  /* backgraund repeat */
  width: auto;
  background: #ffffff;
  margin-left: 220px;
}

/*Barra lateral*/
.sidebar-header {
  position:fixed;
  top: 80px;
  width: 189px;
  min-height: 550px;
  /*Barra lateral color*/
  background-color: #f8f6f6;
  border-right-width: 3px;
  border-right-style:solid;
  border-right-color: #bbbbba;
  border-bottom-style:solid;
  border-bottom-color: #bbbbba;
  border-top: 1px;
  border-top-style:solid;
  border-top-color: #bbbbba;
  grid-column: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  transition: 0.5s;
  border-radius: 12px;
}

.view-menu{
  left: 0;
}
 
.hidden-menu{
  left: -18rem;
}




.sidebar-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.sidebar-list-item {
  /* background-color: #fff; */
  padding: 0;
  margin: 5px;
  z-index:9;
}


.sidebar-list-item:hover {
  background-color: #4866b1;
  transform: scale(1.0, 1.1);
  border-radius: 8px;
}

.side-item {
  color: rgb(34, 33, 32);
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 400;
  display: flex;
  width: 180px;
  min-height: 50px;
  padding: 5px;
 
}



.side-item:hover {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 400;
  height: auto;
}

.side-item-github:hover {
  color: rgb(41, 101, 205);
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 400;
  height: auto;
}




.sidebar-footer {
  padding: 1rem;
  margin: 0;
  display: flex;
  align-items: flex-start;
}


/* HEADER */

  .toggle-btn{
    position: fixed;
    bottom: 8px;
    right: 8px;
    background-color: #f0ebea;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0.5rem;
    border-radius: 5px;
    font-size: 1.5rem;
  }
  
  /*  Main */
.main-container {
  grid-area: main;
  /*Aqú es la caja gris que no dejaba*/
  background-color: rgb(255, 255, 255);
  width: 100%;
  grid-column: 2;
  grid-row: 2/5;
  margin: 20px;
  transition: 0.5s;
}

/* List user */

.listUser {
  display: flex;
  align-items: flex-start;
  left: 0;
  width: 100%;

}

.listuserall {
  left: 0;
  width: 100%;
  height: 32rem;
}



/* profile */
.profile-container {
  width: 95%;
  border: solid 2px rgb(50, 147, 232);
  border-radius: 62px;
  display: flex;
  z-index: 1;
}

.profile-header {
  background-color: transparent;
  padding: 1.5rem;
}

.title-profile-container{
  color: rgb(36, 35, 35);
  font-weight: bold;
  font-size: 2rem;
}

.profile-header-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  margin: 15px;
}

.image-profile {
  border-radius: 10%;
  width: 200px;
  height: 200px;
  
}

.content-profile-name {
  background-color: rgb(244, 243, 246);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 188px;
  padding: 0.5rem;
  border-radius: 11px;
}

.name-profile {
  background-color: rgb(244, 243, 246);
  color: #302f2f;
  font-size: 1.5rem;
  margin: 0;
  font-weight: bold;
}

.profile-content {
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
  margin: 15px;
}

.profile-content-title-description {
  border-radius: 10%;
  font-weight: bold;
  /* display: flex;
  flex-direction: column;
  justify-content: flex-start */
}

.title-profile {
  color: rgb(35, 36, 39);
  font-weight: bold;
  font-size: 2rem;
}

.description-profile{
  font-size: 1rem;
  font-weight: bold;
  color: #3e3f45;
}

.profile-detail {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding-top: 1rem;
}

.detail-profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: bold;
  align-items: center;
  gap: 5px;
}

.profile-hobbies {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.hobbies-profile {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
  color: #ffffff;
}

.container-title-section-panel{

  background-color: white;
  align-items: center;
  padding: 1rem;
}

.hobby-profile {
  background-color: #4897cf;
  margin: 10px;
  border-radius: 10%;
  padding: 0.7rem;
  width: 130px; 
}

.detail-profile-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: rgb(29, 31, 31);
}

.detail-profile-text {
  color: #3b3b43;
}

/* Form property */

.content-form-property {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}

/* Form Settings profile */

.form-profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
  padding: 1rem;
  background-color: white;

border-radius: 5%;
}

.form-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}

.title-form-edit-profile {
  font-size: 1.5rem;
  font-weight: bold;
  color: rgb(65, 70, 73);
}

.form-control {
  width: 100%;
  padding: 0.5rem;
  border: none;
  border-radius: 5px;
  outline: none;
  font-size: 1rem;
  font-weight: bold;
  color: #fff;
  background-color: #f4f3f5; 
}

.viewAvatarUpload {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 2rem;
  padding: 1rem;
}

.content-avatar-setting{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content-avatar-setting > h2 {
  font-size: 1.5rem;
  font-weight: bold;
  color: rgb(2, 255, 175);
}

.content-avatar-setting > img {
  width: 250px;
  border-radius: 10%;
}

.btn-primary {
  background-color: rgb(2, 255, 175);
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0.5rem;
  border-radius: 5px;
  font-size: 1.5rem;
}

.btn-primary:hover {
  background-color: #fff;
  color: rgb(2, 255, 175);
  border: 1px solid rgb(2, 255, 175);
}


/*  List publish  */

.container-list-publish-tenant {
  width: 95%;
  background: #ffffff;
  border-radius: 12px;
  padding: 40px;
  border: solid 2px rgb(50, 147, 232);
}

.container-list-publish-tenant__search{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}

.btn-edit-publish {
  bottom: 0;
  border-radius: 50%;
  padding: 7px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  margin-bottom: 5px;
  border: 1px solid #000000;
  margin-left:210px
}
.btn-edit-publish:hover {
  background-color: #0056b3;
}

.input-list-publish-tenant{
  width: 100%;
  padding: 0.5rem;
  border: none;
  border-radius: 5px;
  outline: none;
  font-size: 1rem;
  font-weight: bold;
  color: #fff;
  background-color: #18152E; 
}

.content-list-publish-all {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 300px));
  grid-gap: 15px;
}

.container-list-publish-tenant > h2 {
  font-size: 2rem;
  font-weight: bold;
  color: rgb(33, 29, 29);
}


.container-list-publish-tenant__list__item{
  width: 100%;
  /* centrar texto */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  overflow: hidden;
  border: solid 1px rgb(50, 147, 232);
  padding: 10px;
            
  border-radius: 5%;
}

.container-list-publish-tenant__list__item__delete{
  justify-content: flex-end;
  align-items: center;
  width: 10px;
}

.container-list-publish-tenant__list__item__edit{
  display: flex;
  justify-content: space-between;

  align-items: center;
  width: 100%;
}

.btn-delete-publish{
  width: 20px;
  height: 20px;
  color: #ff0000;
  left: 0;
  border-radius: 10%;
  outline: none;
  cursor: pointer;
  font-size: 1.5rem;
  margin-right: 100px;
}



.text-list-publish-data{
  font-size: 1rem;
  font-weight: bold;
  color: #fff;
}
.container-list-publish-tenant__list__item__image{
  /* hacer que la imagen se coloque debajo del boton */
  position: relative;
  border-radius: 10%;
}

.container-list-publish-tenant__list__item__image > button {
  top: 100px;
  right: 0;
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1rem;

}

.container-list-publish-tenant__list__item__image > img {
  width: 250px;
  height: 200px;
  border-radius: 10%;
}

.form-container-edit-profile {
  width: 550px;
  border: solid 2px rgb(50, 147, 232);
  border-radius: 8px;
  padding: 30px 40px 30px 40px;
  margin-left: 20%;
}
.centered-button {
  margin-left: 40%;
}
/*Panel iconos y texto de menu*/
.icon-panel-control {
  width: 20px;
  margin-top: 7px;
  margin-left: 15px;
  margin-right: 0px;
  z-index: 1;
  pointer-events: none;
}
.text-panel-control {
  width: auto;
  height: auto;
  margin-top: 4px;
  margin-left: 8px;
  margin-right: 0px;
  z-index: 1;
  pointer-events: none;
}

.space-button-list-users {
  margin-right: 30px;
  margin-bottom: 20px;
}

.space-all-post-title {
  margin-top: 80px;
}




.delete-button {
  bottom: 0;
  padding: 7px;
  border-radius: 50%;
  background-color: #ff0000;
  color: #fff;
  border: none;
  cursor: pointer;
  margin-bottom: 5px;
  border: 1px solid #000000;
}
.delete-button:hover {
  background-color: #c82333;
}
.response-button {
  bottom: 0;
  border-radius: 50%;
  padding: 7px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  margin-bottom: 5px;
  border: 1px solid #000000;
}

.response-button:hover {
  background-color: #0056b3;
}
