.container-property {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
}
.container-form-property {
  width: 600px;
    margin-top: 50px;
    margin-bottom: 50px;
    border: solid 2px rgb(50, 147, 232);
    border-radius: 8px;
    padding: 20px 30px;
}
.loaded-images {
    width: 10%;
    height: 10%;
}


input[type="time"] {
    padding: 0.5em;
    font-size: 1em;
    border-radius: 0.25em;
    border: 1px solid gray;
  }
  
  input[type="time"]:focus {
    outline: none;
    border-color: blue;
  }
  
.upload-button-place {
  width: 30px;
  height: 25px;
  margin-right: 10px;
}

.text-upload {
  font-size: medium;
}
  .custom-checkbox {
    position: relative;
    display: inline-block;
    margin-right: 10px;
  }
  
  input[type="checkbox"] {
    display: none;
  }

  .custom-checkbox {
    position: relative;
    display: inline-block;
    margin-right: 10px;
  }
  
  input[type="checkbox"] {
    display: none;
    font-size: 10px;
  }
.center-button-publish  {
  margin-left: 30%;
  margin-top: 30px;
}
.center-button-cancel {
  margin-left: 40%;
  margin-top: 5px
}
  
  .checkmark::before {
    content: "No\02717";
    font-size: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: solid 1px rgb(196, 37, 37);
    padding: 1px;
    border-radius: 4px;
    margin-left: 25px;
  }
  
  input[type="checkbox"]:checked + .checkmark::before {
    content: "Sí\2713";
    border: solid 1px rgb(128, 192, 76);
    padding: 2px;
    border-radius: 4px;
    font-size: 15px;
  }
  .clocks-inputs {
    display:inline-block;
  }
  .error {
    color: rgb(182, 150, 24);
  }