*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body{
    font-family: Poppins;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  img{
    max-width: 100%;
  }
  
  .title{
    text-align: center;
    padding: 30px 0;
  }
  
  
  .container-property{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
  }
  
  .card-property{
    flex: 25%;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
  
  
  
  .container-img{
    flex: 1;
  }
  
  .container-img img{
    width: 100%;
    height: 400px;
    object-fit: contain;
  
  }
  
  .info-property{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 15px 30px;
    height: 100%;
  }
  
  .info-property h3{
    color: #777;
    font-weight: 500;
  }
  
  
  .price{
    color: #000;
    font-weight: 700;
    margin: 15px 0;
  }
  
  .info-product button{
    background-color: #000;
    color: #fff;
    border: none;
    display: block;
    width: 100%;
    padding: 20px 0;
    cursor: pointer;
    margin-top: auto;
  }