
<div class="container">
  
  <input type="radio" name="nav" id="first" checked>
  <input type="radio" name="nav" id="second">
  <input type="radio" name="nav" id="third">
  
  
    
  <label for="first" class="first"></label>
  <label for="second"  class="second"></label>
  <label for="third" class="third"></label>
  
  
  <div class="one slide">
    <blockquote>
      <span class="leftq quotes">&ldquo;</span>Lorem ipsum dolor sit amet, 
      consectetur adipiscing elit. Nam nisl nulla, egestas sed mattis a, 
      venenatis at turpis. Fusce mattis luctus erat vel rutrum. Integer maximus eget est nec placerat.
      <span class="rightq quotes">&bdquo; </span>
    </blockquote>
    <img src="" />
    <h2>Hadrianus Augustus</h2>
    <h6>UI/UX/XVII Designer at Roman Coliseum</h6>
  </div>
  
  <div class="two slide">
    <blockquote>
      <span class="leftq quotes">&ldquo;</span>In ultrices lectus vel purus posuere, 
      vitae consectetur lacus faucibus. Ut luctus diam arcu, non aliquam augue laoreet eget. 
      Sed tristique ante sapien, eget eleifend risus accumsan eget... 
      <a href="#">leer más</a><span class="rightq quotes">&bdquo;</span>
    </blockquote>
    <img src="" />
    <h2>Caesar Augustus</h2>
    <h6>CEO The Roman Empire</h6>
  </div>
  
  <div class="three slide">
    <blockquote>
      <span class="quotes leftq">&ldquo;</span>Sed mauris quam, congue at eros et, 
      fermentum mollis tellus. Sed ullamcorper est pretium velit facilisis, 
      quis ornare ex volutpat. Quisque finibus mattis nibh, quis egestas dolor mollis in.
      <span class="rightq quotes">&bdquo; </span>
    </blockquote>
    <img src="" />
    <h2>Flavius Domitianus</h2>
    <h6>Chair of Finance, Ancient Rome</h6>
  </div>
</div>