.container-PRO {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
}
.planes-PRO {
    width: 82%;
}
.icon-plan-pro {
    width: 120px;
    height: 120px;
    margin-left: 5px;
}
.circle-plan-pro {
    width: 250px;
    height: 250px;
    margin: 10px 10px 10px 5px;
}
.display-line {
    display:inline-flex;
    padding: 20px 30px 35px 20px;
    width: 350px;
    height: 150px;
    border: solid 2px rgba(228, 163, 22, 0.913);
    border-radius: 12px;
}
.pro-description {
    width: 500px;
    margin-left: 15px;
}
.center-button-pro {
    margin-left: 40%
}
.center-button-pro-logged {
    margin-left: 45%
}